<mat-toolbar>
  <button (click)="showSidebar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon >menu</mat-icon>
  </button>
  <h4>Heldin's Cocktails</h4>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button  (click)="share()"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
    <!-- cambia showCopyUrl in app ts in true e copia url -->
  </button>

</mat-toolbar>
