.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}
mat-card {
  /* padding:10px; */
  margin-bottom: 2em;

}
li{
  list-style-type: "💜";

}
mat-card-content {

}
.column {
  float: right;
  width: 50%;
}


